.react-flow__attribution {
    display: none;
}

.text_node input {
    border: 1px solid #303030ad;
    padding: 4px 5px;
    width: 130px;
    caret-color: #303030ad;
    border-radius: 4px;
}

.text_node input:focus {
    outline: none;
}

.circle_node {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: lightblue;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}

.square_node {
    width: 60px;
    height: 60px;
    background-color: lightcoral;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}

.container {
    position: absolute;
    top: 28%;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);;
}

.icon {
    margin-bottom: 23px;
    color: #625c5cab;
}

.traingle_node {
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-bottom: 60px solid #7e85ee;
}